streamlit
google-genai
python-dotenv

PyMuPDF
python-docx
Pillow

easyocr
opencv-python-headless

numpy
pandas
scikit-learn
scikit-image

sentence-transformers
torch
torchvision
faiss-cpu

transformers
huggingface_hub